.home{
    
}
.home-main-container{
    width: calc(100% - 2rem);
    /* max-width: 1200px; */
    margin: 1rem auto;
}

@media only screen and (max-width: 640px){
    .home-main-container{
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }
}