.category{
    width: calc(100% );
    /* max-width: 1200px; */
    /* margin: 1rem ; */
}
.category-items{
    /* max-width: 1200px; */
    display: flex;
    /* flex-flow: wrap; */
    flex-wrap: wrap;

   justify-content: space-between;
}
.category-item{
    background-color: black;
    border-radius: 1rem;
    width: calc(25% - 10px);
    cursor: pointer;
    overflow: hidden;
}
.category-item img {
   width: 100%;
   display: block;
   transition: all ease 0.3s;

}
.category-item img:hover{
    transform: scale(1.2);
}
@media only screen and (max-width: 640px){
    .category{
        margin: 20px 0;
    }
    .category-item{
        width: calc(50% - 5px);
    }
    
}