.App {
  /* margin: 0 auto; */
}
body {
  max-width: 1440px !important;
  margin: auto;
  background-color: rgb(243, 244, 247);
}
.layout {
  min-width: 100%;
}
.context {
  width: 100%;
}

/* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 3px 14px 3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 14px; */
